body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.bg {
  margin: 0 auto;
  width: 80%;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  color: white;
}

.bgCont {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.info {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image {
  width: 90%;
  border: 2px solid white;
  border-radius: 15px;
}
